.profile {
  margin-left: auto;
  margin-right: auto;
  max-width: 252px;
  border: 1px solid var(--main-light-grey);
  border-radius: 4px;
}
.description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  display: block;
  border-bottom: 1px solid var(--main-light-grey);
}
.avatar {
  margin: 35px auto 0px auto;
  background-color: var(--main-light-grey);
  border-radius: 50%;
  max-width: 100px;
}
.name {
  font-size: 18px;
  font-weight: 600;
  color: var(--main-black);
}
.tag {
  margin: 1px auto 10px auto;
  font-size: 14px;
  color: var(--main-grey);
}
.location {
  margin: 10px auto 20px auto;
  font-size: 14px;

  color: var(--main-grey);
}
.stats {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  text-align: center;
}
.stats li {
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
  width: 82px;
  font-size: 12px;
  color: var(--main-light-grey);
}
.stats li:nth-child(2n) {
  border-right: 1px solid var(--main-light-grey);
  border-left: 1px solid var(--main-light-grey);
}

.quantity {
  margin-top: 4px;
  font-size: 15px;
  font-weight: 700;
  color: var(--main-black);
}