@import 'modern-normalize/modern-normalize.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main-grey: #535353;
  --main-light-grey: #9e9e9e;
  --main-dark-grey: rgb(59, 58, 58);
  --main-shadow-color: rgba(0, 0, 0, 0.3);
  --main-blue: #75b8e6;
  --main-white: white;
  --main-black: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

input:focus,
input:active,
button:active,
button:focus {
  outline: none;
}